/*!! Global */
.header-logo,
.topNav a {
    float: left;
}
.topNav a,
body {
    font-size: 18px;
}
.hero-section,
.topNav a,
main {
    border-radius: 8px;
}
.hero-headline,
.hero-text {
    font-weight: 400;
    line-height: normal;
}
.copyrights,
.hero-headline,
.hero-text {
    line-height: normal;
}
:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-default);
    max-width: 1440px;
    margin: 0 auto;
}
p {
    margin-bottom: 0;
    padding: 0.5vw;
}
.hero-section > .btn-signup,
.hidden,
.topNav .icon {
    display: none;
} /*!! Header */
.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 53px 42px 77px 100px;
}
.header-logo img {
    width: 277px;
    height: 50px;
}
.main-navbar {
    float: right;
}
.topNav a {
    display: block;
    color: #232323;
    text-align: center;
    padding: 10px 13px;
    margin: 7px 0;
    text-decoration: none;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 23.44px;
    letter-spacing: 0.5px;
    transition: 0.25s;
}
.topNav a.active,
.topNav a:focus,
.topNav a:hover {
    background-color: #232323;
    color: #fff;
    padding: 10px 13px 7px;
    margin: 7px 12.5px 0 0;
}
.topNav a.active {
    background-color: red;
}
.topNav a span {
    display: inline-block;
    border-bottom: 1px solid transparent;
}
.topNav a.active span,
.topNav a:focus span,
.topNav a:hover span {
    border-bottom: 1px solid #fff;
} /*!! Main */
main {
    font-size: 130%;
    font-weight: bolder;
    color: #000;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
}
.hero-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    width: 100%;
    max-height: 657px;
}
.hero-content {
    padding: 51px 55px;
    grid-column: span 4;
    background: #232323;
    color: #fff;
    position: relative;
    text-align: left;
    min-width: 424px;
}
.hero-content::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #232323;
    position: absolute;
    right: -85px;
    top: 0;
}
.hero-content > * {
    position: relative;
    z-index: 1;
}
.hero-headline {
    font-size: 6rem;
    white-space: nowrap;
    letter-spacing: 1.2px;
    margin: 0;
}
.hero-text {
    width: 146%;
    margin-top: 67px;
    letter-spacing: 0.25px;
    padding: 0;
}
.hero-img {
    grid-column: span 8;
}
.hero-img img {
    float: right;
    width: calc(100% - 85px);
    object-position: 0 -10px;
    height: 100%;
    object-fit: cover;
    display: block;
    padding: 0;
}
.hero-section .modal-btn {
    font-size: 25px;
    letter-spacing: 0.5px;
    padding: 0.75rem 2rem;
    margin-top: 75px;
} /*!! Button */
.modal-btn {
    font-size: 145%;
    display: flex;
    margin: auto;
}
.btn-signup,
.btn-submit {
    background: #fe142f;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    border: 0;
}
.btn-signup {
    outline: 0;
    text-transform: capitalize;
    font-size: 1.3rem;
    padding: 15px 23px;
    margin: 59px 0 0;
}
.button:hover,
.modal-btn:hover {
    background: #3876ac;
}
.button {
    margin-top: 0.5em;
    padding: 1em;
    border-radius: 15px;
    font-size: 16px;
}
footer {
    padding: 0 40px;
}
.footer {
    margin: 20px;
    padding: 10px;
    font-family: var(--font-slab);
}
.copyrights {
    color: #fe142f;
    letter-spacing: -0.35px;
    padding: 0;
    font-size: 15px;
    margin: 87px 0 0;
    font-weight: bolder;
}
