@media screen and (max-width: 1440px) {
  body {
    background-image: url(../../img/Desktop-MoForm-End.png);
    background-size: 1440px 1024px;
    background-position: top center;
    background-repeat: no-repeat;
  }

  main, .topNav {
    opacity: 0.5;
    color: blue;
  }
}

@media screen and (max-width: 1439px) {
  body {
      background-image: none;
  }

  main,
  .topNav {
      opacity: 1;
      color: inherit;
  }
}

@media screen and (max-width: 414px) {
  body {
      background-image: url(../../img/Mobile-MoForm.png);
      background-size: 414px 736px;
      background-position: top center;
      background-repeat: no-repeat;
  }
  main,
  .topNav {
      opacity: 0.5;
      color: blue;
  }
}